# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Bb]uilds/
[Ll]ibrary/
/[Pp]ackages/
/[Pp]rojectSettings/

sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
MergeTower/Logs/AssetImportWorker0-prev.log
MergeTower/Logs/shadercompiler-UnityShaderCompiler.exe1.log
MergeTower/Logs/shadercompiler-UnityShaderCompiler.exe10.log
MergeTower/Logs/shadercompiler-UnityShaderCompiler.exe11.log
MergeTower/Logs/shadercompiler-UnityShaderCompiler.exe12.log
MergeTower/Logs/shadercompiler-UnityShaderCompiler.exe13.log
MergeTower/Logs/shadercompiler-UnityShaderCompiler.exe14.log
MergeTower/Logs/shadercompiler-UnityShaderCompiler.exe15.log
MergeTower/Logs/shadercompiler-UnityShaderCompiler.exe2.log
MergeTower/Logs/shadercompiler-UnityShaderCompiler.exe3.log
MergeTower/Logs/shadercompiler-UnityShaderCompiler.exe4.log
MergeTower/Logs/shadercompiler-UnityShaderCompiler.exe5.log
MergeTower/Logs/shadercompiler-UnityShaderCompiler.exe6.log
MergeTower/Logs/shadercompiler-UnityShaderCompiler.exe7.log
MergeTower/Logs/shadercompiler-UnityShaderCompiler.exe8.log
MergeTower/Logs/shadercompiler-UnityShaderCompiler.exe9.log
